@import "../../scss/variaveis&mixins.scss";
.tarefas {
    @include justify-align;
    background-image: $background-page135;
    height: 100vh;
}
.fundobranco {
    @include justify-align;
    @include fundos96;
    background-color: $white11;
    border-radius: 5px;
}
.fundopreto {
    @include fundos96;
    background-color: $black50;
    overflow: hidden;
    display: flex;
    .svglogo {
        @include justify-align;
        @include svglogofundos;
        align-self: center;
    }
}
.headerwhite {
    @include justify-align;
    background-color: $white11;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    height: 280px;
    border-radius: 5px;
    padding: 10px;
}
.header {
    @include justify-align;
    background-color: $black50;
    flex-direction: column;
    flex: 1;
    width: 94%;
    padding: 10px;
    border-radius: 5px;
}
.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.inputTask {
    @include inputs-border-height-mgtop;
    background-color: $white11;
    box-shadow: $shadow;
    outline: 0;
    padding-left: 10px;
    color: white;
    font-size: 16px;
}
.add {
    @include inputs-border-height-mgtop;
    box-shadow: $shadow;
    background-image: $gradient90-reverse;
    align-self: end;
    min-width: 154px;
    margin-right: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
}
.add:hover {
    color: white;
    background-image: $gradient90;
}
.containertarefas {
    flex: 2;
    margin-left: 20px;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    margin-right: -20px;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    background-image: url(../../images/fundoTarefas.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: $black50;
    border-radius: 5px;
    padding-top: 20px;
    .tarefa {
        background-color: $black50;
        width: 88%;
        margin-left: 40px;
        margin-right: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .tarefaTrue {
        background-image: url(../../images/Vector-true.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .tarefaFalse {
        background-image: url(../../images/vetor-false.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .desctarefa {
        margin: 20px;
        h2 {
            font-size: 32px;
            @include texto-colorido;
        }
        p {
            font-size: 18px;
            margin-top: 20px;
            color: white;
        }
    }
    .divbuttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: -20px;
    }
    .button40px {
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 5px;
        background-image: $gradient90-reverse;
        cursor: pointer;
    }
    .button40px:hover {
        background-image: $gradient90;
    }
}
@media (max-width: 1320px) {
    .fundopreto {
        flex-direction: column;
        .svglogo {
            height: auto;
            width: 100%;
        }
        .headerwhite {
            margin-top: 20px;
            margin-left: 20px;
            height: auto;
        }
        .header {
            flex-direction: column;
            margin-left: 0;
            .inputs {
                justify-content: center;
                align-items: center;
            }
            h1 {
                margin-top: 20px;
            }
            .inputTask {
                margin-left: 0px;
                width: 96%;
            }
            .add {
                margin-right: 14px;
                margin-bottom: 10px;
            }
        }
    }
    .containertarefas {
        margin-left: 0px;
        .tarefa {
            margin-right: 40px;
        }
    }
}
@media (max-width: 830px) {
    .containertarefas {
        .tarefa {
            margin-left: 20px;
        }
    }
}
@media (max-width: 560px) {
    .containertarefas {
        .desctarefa {
            margin-left: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                width: 88%;
                text-align: center;
            }
        }
        .tarefa {
            margin-left: 0px;
            width: 100%;
            flex-direction: column;
            text-align: center;
        }
        .divbuttons {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            gap: 80px;
            margin-bottom: 20px;
        }
        .button40px {
            height: 40px;
            width: 40px;
            border: none;
            border-radius: 5px;
            background-image: $gradient90-reverse;
            cursor: pointer;
        }
    }
}
