.tarefas{
    background-image: linear-gradient(-135deg, rgb(93, 95, 39), rgb(0, 0, 0));
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}
.fundobranco{
    height: 96%;
    width: 96%;
    background-color: rgba(255 , 255, 255, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fundopreto{
    overflow: hidden;
    height: 98%;
    width: 96%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0 , 0, 0, 0.5);
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: center;
    }
    h1{
        font-size: 28px;
        margin-top: 40px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, rgb(93, 95, 39), rgb(146, 29, 134));
    
    }
    .inputTask{
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        width: 350px;
        height: 62px;
        background-color: rgba(255 , 255, 255, 0.11);
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
    }
    .inputTask:focus{
        outline: 0;
        padding-left: 10px;
        color: white;
        font-size: 16px;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-top: 20px;
    }
    .add{
        align-self: end;
        height: 32px;
        min-width: 154px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(-125deg, rgb(93, 95, 39), rgb(66, 42, 63));
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s;
    }
    .add:hover{
        color: white;
        background-image: linear-gradient(-125deg, rgb(66, 42, 63), rgb(93, 95, 39));

    }
}
.containertarefas{
    width: 105%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    margin-left: 0px;
    margin-right: -20px;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    background-image: url(../../images/fundoTarefas.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    .tarefa{
        background-color: rgba(0 , 0, 0, 0.5);
        width: 350px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        z-index: 2;
        
        
    }
    .tarefaTrue{
        background-image: url(../../images/Vector-true.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .tarefaFalse{
        background-image: url(../../images/vetor-false.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .desctarefa{
        margin: 20px;
        h2{
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(90deg, rgb(146, 29, 134), rgb(93, 95, 39));
          
        }
        p{
            margin-top: 20px;
            color:white;
        }
    }
    .divbuttons{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: -20px;
    }
    .button40px{
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 5px;
        background-image: linear-gradient(-125deg, rgb(66, 42, 63), rgb(93, 95, 39));
        cursor: pointer;
    }
    .button40px:hover{
        background-image: linear-gradient(-125deg, rgb(93, 95, 39), rgb(66, 42, 63));
    }
    .logodrikks{
        position: absolute;
        bottom: 10px;
        color: white;
        font-weight: 600;
        z-index: 4;
    }
}
@media (max-width: 1045px) {
    .fundopreto{
        flex-direction: column;
        .header{
            flex-direction: column;
            margin-left: 24px;
        }
    }
    .containertarefas{
        margin-left: 0px;
        .tarefa{
            margin-right: 0px;
        }
    }
}