@import "../../scss/variaveis&mixins";

.tarefa_open {
    @include justify-align;
    width: 100%;
    height: auto;
    background-image: $background-page70;
    .fundobranco{
        margin: 10px;
        overflow: auto;
        height: auto;
    }
    .fundopreto{
        margin: 10px;
        height: auto;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
    .descricaoTarefaH2{
        font-size: 32px;
        @include texto-colorido;
    }
    .botao-menos{
        @include button40px;
        max-width: 49px;
        min-width: 40px;
        @include justify-align;
    }
    .button40px{
        @include button40px;
    }
    .secao-editar{
        display: flex;
        flex-direction: row;
        padding: 20px;
        color: white;
        gap: 20px;
        .botao-editar{
            @include button40px;
        }
    }
    .footer{
        height: 100%;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .button40px{
            align-self: end;
            @include justify-align;
        }
        .botoes-true-false{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }
}

