@import "../../scss/variaveis&mixins";

.tarefa_open {
    width: 100%;
    height: 100vh;
    background-image: $background-page70;
    .fundobranco {
        margin: 10px;
        height: auto;
    }
    .fundopreto {
        margin: 10px;
        @include svglogofundos;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    header {
        @include fundoblack;
        @include padding20px-directionRow;
        justify-content: space-between;
    }
    .descricaoTarefaH2 {
        font-size: 32px;
        @include texto-colorido;
    }
    .botao-menos {
        @include button40px;
        max-width: 49px;
        min-width: 40px;
        @include justify-align;
    }
    .button40px {
        @include button40px;
    }
    .button40px:hover,
    .botao-menos:hover {
        background-image: $gradient90;
    }
    .tarefa {
        @include fundoblack;
        @include padding20px-directionRow;
        color: white;
        gap: 20px;
        justify-content: space-between;
        p {
            max-height: 400px;
        }
        .botao-editar {
            @include button40px;
        }
        .botao-editar:hover{
            background-image: $gradient90;
        }
        .inputEdit{
            height: 32px
        }
    }
    .footer {
        @include fundoblack;
        @include padding20px-directionRow;
        height: 40px;
        color: white;
        justify-content: space-between;
        .button40px {
            align-self: end;
            @include justify-align;
        }
        .botoes-true-false {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }
}
@media (max-width: 630px) {
    .tarefa_open {
        .fundobranco {
            margin: 10px;
            overflow: auto;
            height: auto;
        }
        .fundopreto {
            margin: 10px;
            height: auto;
        }
        .tarefa {
            p {
                padding-right: 14px;
                overflow-y: scroll;
            }
        }
    }
}
