@import "../../scss/variaveis&mixins.scss";
.home {
    @include justify-align;
    text-align: center;
    height: 100vh;
    background-image: $background-page70;
    .svglogo {
        @include justify-align;
        @include svglogofundos;
    }
}
.login-white {
    background-color: $white11;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}
.login-black {
    @include justify-align;
    flex-direction: column;
    background-color: $black50;
    height: 100%;
    width: 85%;
    padding: 20px;
}
.form-login{
    display: flex;
    flex-direction: column;
}
.saudacoes {
    font-size: 32px;
    @include texto-colorido;
}
#login,
#password {
    @include inputs-border-height-mgtop;
    background-color: $white11;
    box-shadow: $shadow;
    color: white;
    font-size: 16px;
    padding-left: 10px;
}
.btnLog {
    @include inputs-border-height-mgtop;
    background-image: $gradient90;
    box-shadow: $shadow;
    min-width: 210px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s all ease;
}
.btnLog:hover {
    background-image: $gradient90-reverse;
    color: white;
}
#login:focus,
#password:focus {
    outline: 0;
}
