.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-70deg, rgb(93, 95, 39), rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-position: center;
}
.logodrikks{
  position: absolute;
  bottom: 10px;
}
.App p{
  margin-top: 20px;
  font-weight: 600;
  color: white;
  
}
.svglogo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 567px;
  width: 514px;
  background-image: url(./images/svgprojeto.svg);
    background-repeat: no-repeat;
    background-position: center;

}